/* ColumSepararCards - Es para separar las los titulos de las cards de la vista de "Gestion de Clientes" */

.columnSepararCards {
    height: 20px;
}


/* CSS del buscador de Clientes */

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    height: 43px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #009cde;
}

.search .fa-search {
    position: absolute;
    top: 13px;
    left: 13px;
}

.search button {
    position: absolute;
    top: 4px;
    right: 5px;
    height: 35px;
    padding: 0px;
    width: 121px;
    background: #009cde;
}

.card.cardClientes{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 25px;
}

.tablaClientes {
    border-radius: 3px;
    overflow: auto;
    border: 2px solid #009cde ;
    margin-bottom: 0px;
  }
  
.table.tablaClientes{
    margin-top: -1px;
    margin-bottom: 0px;
}

.tablaClientes thead th{
    border-bottom: none;
}

.tablaClientes tbody {
border-radius: 0px;
}

.tablaClientes thead {
    border-radius: 0px;
    border-bottom: 2px solid #009cde;
    background: #009cde;
    color: rgb(255, 255, 255);
}

.btnSbyb.btnDetalleCliente{
    padding: 0px 12px;
}

select.selectByB{
    
    background-image:url("https://img.icons8.com/ios-filled/50/ffffff/expand-arrow--v1.png") !important;
    background-size:20px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-color: #009cde;
    color: white;
    box-shadow: none;
    font-weight: bolder;
    
}

select.selectByB:active{
    box-shadow: none;
}

option.selectByB{
    background-color: white;
    color: #009cde;
    font-weight: bold;
}

.subtitulosCard{
    background-color: #009cde;
    color: white;
    margin: -16px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 10px;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    font-weight: bold;
}

.labelCardClientes{
    color: #009cde;
    font-weight: bold;
}

div.col.tablaHeadReportes{
    padding: 0px;
}



